body {
    background-color: #8dc8ff;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: rgba(203, 231, 255, 0.871);
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.412);
    padding: 15px;
    margin: auto;
    width: 500px;

}

footer {
    color: white;
    font-style: italic;
    padding: 15px;
    text-align: center;
    
}

div{
    padding: 15px;
    text-align: center;
}
input {
    width: 90px;
}